<h1>Add New Item</h1>
<%= form_for @to_do_list do |f| %>
    <%= f.label :item %>
    <%= f.text_field :item %>
    <br />
    <%= f.label :notes %>
    <%= f.text_field :notes %>

    <%= f.submit %>
<% end %>

